<!--head, body and others will be inherited from base template -->
<!--templates can be referenced from other apps-->
{% extends "blog/base.html" %}
<!--Using this for styling our web page, so that fields are structured-->
{% load crispy_forms_tags %}
<!-- content specified within the block content end-block content tags will be inserted into the rest of the html code inherited from the base.html in those tags -->
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
    </div>
{% endblock content %}
