<!--head, body and others will be inherited from base template -->
<!--templates can be referenced from other apps-->
{% extends "blog/base.html" %}
<!--Using this for styling our web page, so that fields are structured-->
{% load crispy_forms_tags %}
<!-- content specified within the block content endblock content tags will be inserted into the rest of the html code inherited from the base.html in those tags -->
{% block content %}
       <div class="content-section">
           <!--method is added to prevent attacks on the form-->
           <form method="POST">
               {% csrf_token %}
               <fieldset class="form-group">
                   <legend class="border-bottom mb-4">Join Today</legend>
                   {{ form|crispy }}
               </fieldset>
               <div class="form-group">
                   <button class="btn btn-outline-info" type="submit">Sign Up</button>
               </div>
           </form>
           <div class="border-top pt-3">
               <small class="text-muted">
                   Already Have An Account? <a class="ml-2" href="#">Sign In</a>
               </small>
           </div>
       </div>
{% endblock content %}
